{% extends 'todo/base.html' %}

{% block content %}
    <h1>You can commend Me.</h1>

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <form action="{% url 'todo:create' %}" method="post">
        {% csrf_token %}
        <!-- Todo Name -->
        <div class="form-group">
            <label for="todo" class="col-sm-3 control-label">อยากจะบอกอะไร</label>
            <div class="col-sm-6">
                {{ form.body }}
            </div>
        </div>

        <!-- Add Todo Button -->
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-6">
                <button type="submit" class="btn btn-default">
                    <i class="fa fa-plus"></i> Submit
                </button>
            </div>
        </div>

    </form>
    

    <!-- Current Todos -->
    <h2>All Commend</h2>
    <table class="table table-striped todo-table">
        <thead>
            <th>รายการความคิดเห็น</th><th>&nbsp;</th>
        </thead>

        <tbody>
            {% for post in posts %}
                <tr>
                    <!-- Todo Name -->
                    <td>
                        <div>{{ post.body }}</div>
                    </td>
                    <td>
                        <form action="{% url 'todo:delete' post.id %}" method="post">
                            {% csrf_token %}
                            <button>Delete</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <iframe src="//www.wink.in.th/musicbox/blue?player=html5" width="200" height="60" frameborder="0" scrolling="no" allowtransparency="true"></iframe>
{% endblock %}